<div id="container"></div>
<!-- <img class="trans-img" src="http://i.imgur.com/iCjPyuM.png">
<div class="flag-container">
      <a class="globe" href="#"><img src="http://www.enchantedlearning.com/europe/spain/flag/Flagbig.GIF"></a>
      <a class="globe" href="#"><img src="http://www.industcards.com/France.gif"></a>
      <a class="globe" href="#"><img src="http://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/250px-Flag_of_Germany.svg.png"></a>


      <a class="globe" href="#"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/600px-Flag_of_Portugal.svg.png"></a>
	      
	  <a class="globe" href="#"><img src="http://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg"></a>	
      <a class="globe" href="#"><img src="http://www.33ff.com/flags/XL_flags/Netherlands_flag.gif"></a>
    
</div> -->