@import "bootstrap-sprockets";
@import "bootstrap";

$navcolor: #f8f8f8;
$nav-height: 70px;
$footer-height: 120px;
$raleway: 'Raleway';

body {
  text-align: center;
}

h1 {
  font-family: $raleway;
  font-size: 4em;
}

#main {
  margin-top: $nav-height;
  margin-bottom: $footer-height;
}

img {
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  border: none;
  background-color: $navcolor;
}

form {
  text-align: center;
}

.col-md-4 {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
}

.header {
  div {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 20px;
  }
}
