@import "bootstrap-sprockets";
@import "bootstrap";


$navcolor: #f8f8f8;

body {
  text-align: center;
}

img {
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  border: none;
  background-color: $navcolor;
}

form {
  text-align: center;
}

#translateyo {
  color: white;
  size: 50px;
  font-family: 'Raleway', sans-serif;
}

