@import "bootstrap-sprockets";
@import "bootstrap";

$navcolor: #f8f8f8;
$nav-height: 70px;
$footer-height: 120px;
$raleway: 'Raleway';

body {
  text-align: center;
  width: 920px;
  margin: 0 auto;
}

h1 {
  font-family: $raleway;
  font-size: 4em;
}

#main {
  margin-top: $nav-height;
  margin-bottom: $footer-height;
}

img {
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  border: none;
  background-color: $navcolor;
}

.col-md-40 {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*.header {
  div {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 20px;
  }
}*/

#grid {
  vertical-align: middle;
}

.column {
  width: 300px;
  /*margin: px;*/
  display: inline-block;
  vertical-align: top;
}

.content {
  background-color: $navcolor;
  border-radius: 10px;
  padding: 10px;
}

.comments {
  /*background-color: $navcolor;*/
  border-radius: 10px;
  padding: 10px;

  li {
    list-style-type: none;
    margin: 10px;

    .content {
      background-color: $navcolor;
      border-radius: 10px;
      list-style-type: none;
    }

  }
}

.vote {
  height: 40px;
}
